body {
  background-color: rgba(113, 173, 200, 0.3);
}
h1 {
  font-family: apple chancery, cursive;
  font-size: 40px;
  text-align: center;
}
h2 {
  font-family: apple chancery, cursive;
  font-size: 30px;
  padding-left: 30px;
}
p {
  padding-left: 15px;
}