body {
  background-color: rgba(113, 173, 200, 0.3);
}
h1 {
  font-family: apple chancery, cursive;
  font-size: 40px;
  position: absolute;
  left: 50%;
}
h2 {
  font-family: apple chancery, cursive;
  font-size: 30px;
  padding-left: 30px;
}
p {
  padding-left: 15px;
}
.container{
  width: 100%;
  height: 300px;
  text-align: center;
  background: url(20200630_080800.jpg);
  background-size: cover;
  background-position: center;
}
#countdown {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
  }