body {
  background-color: rgba(113, 173, 200, 0.3);
}
h1 {
  font-family: apple chancery, cursive;
  font-size: 40px;
  position: absolute;
  left: 50%;
}
h2 {
  font-family: apple chancery, cursive;
  font-size: 30px;
  padding-left: 30px;
}
p {
  padding-left: 15px;
}
.container{
  width: 100%;
  position: relative;
  text-align: center;
  background-image: url("951820009082492817~2.jpg");
  background-size: cover;
  background-position: center;
}
